

#drop .box-body {
    height: 100px;
    color: #444 !important;
}



#drop input{
    display:none;
}

#upload ul{
    list-style:none;
    margin:0;
    padding: 0;
}

#upload ul li{
    color:#444;
    position: relative;
}


#upload ul li input{
    display: none;
}

#upload ul li p{
    overflow: hidden;
    white-space: nowrap;
    color: #444;
    font-size: 16px;
    font-weight: bold;

}

#upload ul li i{
    font-weight: normal;
    font-style:normal;
    color:#7f7f7f;
    display:block;
}

#upload ul li canvas{

}

#upload ul li span{
    width: 15px;
    height: 12px;
    background: url('../img/icons.png') no-repeat;
    position: absolute;
    top: 34px;
    right: 33px;
    cursor:pointer;
}

#upload ul li.working span{
    height: 16px;
    background-position: 0 -12px;
}

#upload ul li.error p{
    color:red;
}


